@charset "UTF-8";


/*
    paleta do projeto:
    #FF914D;
    #4DFBFF;
    #6CA8AA
*/
*{
    margin: 0px;
    padding: 0px;
}
header, nav, main, footer{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
:root{
    --cor0: #FF914D;
    --cor1: #4DFBFF;
    --cor2: #6CA8AA;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}
body{
    background-color: #FF914D;
    font-family: var(--fonte-padrao);
}

header{
    margin: 10px auto 0px auto;
    border-radius: 10px 10px 0px 0px;
    background-color: white;
}
header > h1{
    text-align: center;
    font-size: 2em;
}
h2{
    margin: 20px 10px;
}
h3{
    margin: 20px 10px;
}
p{
    text-align: justify;
}
header > p{
    margin: 20px 10px 10px 10px;
}
div#imagem{
    width: 200px;
    height: 200px;
    margin: auto;
}
div#imagem > img{
    width: 200px;
    height: 200px;
}
div#entrar{
    background-color: #4DFBFF;
    height: 30px;
    width: 200px;
    text-align: center;
    margin: auto;
    border-radius: 30px;
    border-color: black;
    border-style: ridge;
    border-width: 1px;
}
div > p{
    padding: 5px;
    text-align: center;
}
a.link {
    text-decoration: none;
    color: black;
}

nav{
    background-color: #adfeff;
    margin: 0px auto;
    max-width: 800px;
    border-style: solid;
    border-width: 1px;
    border-left: none;
    border-right: none;
}
nav >a{
    text-decoration: none;
    padding: 10px;
    color: black;
}
nav>a:hover{
    text-decoration: double;
    color: #FF914D;
}
nav >a{
    text-decoration: none;
    padding: 10px;
    color: black;
}
nav>a:hover{
    text-decoration: double;
    color: #FF914D;
}

main{
    border-radius: 0px 0px 10px 10px;
    background-color: white;
    margin: 0px auto 10px auto;
}
footer{
    background-color: #4DFBFF;
    margin: 10px auto;
    border-radius: 10px;
    outline-style: double;
}
